<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css"  href="../bootstrap/css/bootstrap.css">

    <title>Share Video</title>
</head>

<body>
    {{> _navbar}}
    <div class='container'>
        {{{body}}}
    </div>


    <script type="text/javascript"   src="../bootstrap/js/jquery-3.4.1.slim.min.js"></script>
    <script type="text/javascript" src="../bootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>